
body {
  background-color: #f1f1f1;
  color: #333;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
*::before, *::after{
  box-sizing: inherit;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 4px 1fr;
  grid-template-columns: 1fr 4px 1fr;
  height: 100vh;
}

.vertical-gutter {
  grid-area: 1/2/4/2;
  background-color:#fff;
  cursor: col-resize;
}

.horizontal-gutter {
  grid-area: 2/1/2/4;
  background-color:#fff;
  cursor: row-resize;
}

iframe {
  background-color: #fff;
  border: 0;
  height: 100%;
  width: 100%;
}

textarea {
  background-color: #333 !important;
  background-repeat: none;
  box-shadow: 0 0 0 .1px rgba(255, 255, 255, .3);
  border: none;
  color: #fff;
  font-family: monospace;
  font-size: 18px;
  height: 100%;
  margin: 1px;
  padding: 24px;
  resize: none;
  width: 100%;
}

textarea:focus{
  outline: 0;
}

#html {
  background: url('assets/html_logo.svg') no-repeat;
  background-size: 36px;
  background-position: calc(100% - 22px) calc(100% - 16px);
}

#js {
  background: url('assets/js_logo.svg') no-repeat;
  background-size: 36px;
  background-position: calc(100% - 22px) calc(100% - 16px);
}

#css {
  background: url('assets/css_logo.svg') no-repeat;
  background-size: 36px;
  background-position: calc(100% - 22px) calc(100% - 16px);
}
