
body {
  background-color: #f1f1f1;
  color: #333;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
*::before, *::after{
  box-sizing: inherit;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

iframe {
  background-color: #fff;
  border: 0;
  height: 100%;
  width: 100%;
}

textarea {
  background-color: #333;
  border: 0;
  color: #fff;
  font-family: monospace;
  font-size: 24px;
  height: 100%;
  margin: 1px;
  resize: none;
  width: 100%;
}
